.myumldata
.project
.externalToolBuilders
.myeclipse
.settings
.classpath
.mymetadata
.myhibernatedata
/Eschool/.myumldata
/Eschool/.project
/Eschool/.externalToolBuilders
/Eschool/.myeclipse
/Eschool/.settings
/Eschool/.classpath
/Eschool/.mymetadata
/SCCMS/.classpath
/SCCMS/.myhibernatedata
/SCCMS/.mymetadata
/SCCMS/.project
